<!-- hotel confirm details here -->
<section class="hotel__details overflow-hidden pt__60 pb__60">
  <div class="container">
     <div class="row g-4">


      <div class="col-xl-4 col-lg-4">
        <div class="hotel__confirm__invocie">
           <h5 class="fw-600 lato mb__20 text-center">
              Completez votre adresse mail
           </h5>
           <div class="d-flex product__total pb__15 mb__15 align-items-center justify-content-between"></div>
           <form action="#0" class="d-flex mb__30 align-items-center justify-content-between">
              <input type="text" placeholder="Promo Code">
              <button class="cmn__btn" type="submit">
                 <span>
                    Apply
                 </span>
              </button>
           </form>

        </div>
     </div>



     <div class="col-xl-4 col-lg-4">
      <div class="hotel__confirm__invocie">
         <h5 class="fw-600 lato mb__20 text-center">
            Mode de paiement
         </h5>
         <div class="d-flex product__total pb__15 mb__15 align-items-center justify-content-between"></div>
         <div class="direct__transfer">
            <div class="type__radio mb__10 d-flex align-items-center justify-content-between">
               <div class="radio__left d-flex align-items-center gap-2">
                  <input class="form-check-input" type="checkbox" id="proper2">
                  <label class="form-check-label" for="proper2">
                     <span class="fz-16 lato fw-400 dtext">
                      <img src="assets/img/payment/mastercard.png" alt="payment-card">
                     </span>
                  </label>
               </div>
            </div>
            <div class="type__radio mb__10 d-flex align-items-center justify-content-between">
               <div class="radio__left d-flex align-items-center gap-2">
                  <input class="form-check-input" type="checkbox" id="proper3">
                  <label class="form-check-label" for="proper3">
                     <span class="fz-16 lato fw-400 dtext">
                        <img src="assets/img/payment/paypals.png" alt="payment-card">
                     </span>
                  </label>
               </div>
            </div>
         </div>
         <div class="full__refund d-flex justify-content-center align-items-center gap-2">
            <img src="assets/img/svg/info-cancel.svg" alt="img">
            Full refund, 3-day concellation
         </div>
      </div>
   </div>


        <div class="col-xl-4 col-lg-4">
           <div class="hotel__confirm__invocie">
              <h5 class="fw-600 lato mb__20 text-center">
                 Invoice Details
              </h5>
              <div class="d-flex product__total pb__15 mb__15 align-items-center justify-content-between">
                 <span class="fz-18 fw-600 lato dtext d-block">
                    Product
                 </span>
                 <span class="fz-18 fw-600 lato dtext d-block">
                    Total
                 </span>
              </div>
              <ul class="price__cost mb__30">
                 <li class="d-flex align-items-center justify-content-between">
                    <span class="fz-18 fw-400 lato dtext">
                       Room Price
                    </span>
                    <span class="fz-18 fw-400 lato dtext">
                       $442
                    </span>
                 </li>
                 <li class="d-flex align-items-center justify-content-between">
                    <span class="fz-18 fw-400 lato dtext">
                       Extra Guests Cost
                    </span>
                    <span class="fz-18 fw-400 lato dtext">
                       $0
                    </span>
                 </li>
                 <li class="d-flex align-items-center justify-content-between">
                    <span class="fz-18 fw-400 lato dtext">
                       Extra Service
                    </span>
                    <span class="fz-18 fw-400 lato dtext">
                       $15
                    </span>
                 </li>
                 <li class="d-flex align-items-center justify-content-between">
                    <span class="fz-18 fw-400 lato dtext">
                       Total cost
                    </span>
                    <span class="fz-18 fw-400 lato dtext">
                       $457
                    </span>
                 </li>
              </ul>
              <form action="#0" class="d-flex mb__30 align-items-center justify-content-between">
                 <input type="text" placeholder="Promo Code">
                 <button class="cmn__btn" type="submit">
                    <span>
                       Apply
                    </span>
                 </button>
              </form>
              <div class="have__condition mt__30 mb__30">
                 <div class="radio__left d-flex align-items-center gap-2">
                    <input class="form-check-input" type="checkbox" id="proper5" checked>
                    <label class="form-check-label" for="proper5">
                       <span class="fz-16 lato fw-400 dtext">
                          I have read and agree to the website terms and conditions
                       </span>
                    </label>
                 </div>
              </div>
              <div class="payment text-center mb__30">
                 <a routerLink="/checkout" class="cmn__btn">
                    <span>
                       Payment Now
                    </span>
                 </a>
              </div>
           </div>
        </div>
     </div>
  </div>
</section>
<!-- hotel confirm details End -->
