
<!--Header Section Here -->
<div id="header">
  <header class="header-section">
      <div class="container">
          <div class="header-wrapper">
              <div class="logo-menu">
                  <a routerLink="/" class="logo">
                      <img src="assets/img/logo/logo.png" alt="logo">
                  </a>
                  <a routerLink="/" class="small__logo d-xl-none">
                      <img src="assets/img/logo/favicon.png" alt="logo">
                  </a>
              </div>
              <ul class="main-menu">
                  <li class="grid__style">
                      <a routerLink="/" class="d-flex">
                <span>
                   Mobile Recharge
                </span>
                          <span class="icons">
                    <i class="material-symbols-outlined">
                       expand_more
                    </i>
                 </span>
                      </a>
                  </li>

                  <li class="grid__style">
                      <a routerLink="/bill" class="d-flex">
                <span>
                   Bill Payment
                </span>
                          <span class="icons">
                    <i class="material-symbols-outlined">
                       expand_more
                    </i>
                 </span>
                      </a>
                  </li>

                  <li class="grid__style">
                      <a routerLink="/gift" class="d-flex">
                <span>
                   Gift Card
                </span>
                          <span class="icons">
                    <i class="material-symbols-outlined">
                       expand_more
                    </i>
                 </span>
                      </a>
                  </li>
                  <li class="grid__style">
                      <a routerLink="javascript:void(0)" class="d-flex">
                <span>
                   Blog
                </span>
                          <span class="icons">
                    <i class="material-symbols-outlined">
                       expand_more
                    </i>
                 </span>
                      </a>
                      <ul class="sub-menu">
                          <li><a routerLink="/blog">Blog List</a></li>
                          <li><a routerLink="/blog/blog-grid">Blog Grid</a></li>
                          <li><a routerLink="/blog/blog-detail">Blog Details</a></li>
                      </ul>
                  </li>
              </ul>
              <div class="sigin__grp d-flex align-items-center">

                  <ul class="main-menu">
                      <li class="grid__style">
                          <a routerLink="javascript:void(0)" class="d-flex">
                        <span>
                          <i class="fa fa-user-circle-o">
                               Connection
                          </i>
                        </span>
                              <span class="icons">
                            <i class="material-symbols-outlined">
                               expand_more
                            </i>
                         </span>
                          </a>
                          <ul class="sub-menu">
                              <li>
                                  <a routerLink="/home">profile</a>
                              </li>
                              <li class="subtwohober">
                                  <a routerLink="/auth/signin">signin</a>
                              </li>
                              <li>
                                  <a routerLink="/auth/signup">signup</a>
                              </li>
                          </ul>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </header>
</div>
